---
layout: layouts/base.njk
title: Game
date: 2022-10-21 21:59
menu:
  visible: true
  order: 3
---
<h1>Game</h1>
<div>
  素材はこちらを利用しています。
  <a href="https://yumenosora.co.jp/tora-lab/special">https://yumenosora.co.jp/tora-lab/special</a>
</div>

<div class="game-container">
  <iframe width="500" height="740" id="breaking-blocks-frame" src="/breaking-blocks"></iframe>
</div>