.section p,
.section ul,
.section ol {
  margin-bottom: 0.5em;
}
.section blockquote,
.section .highlight {
  background-color: #f5f5f5;
  color: #4a4a4a;
  margin: 0.25em 0.25em 0.5em 0.25em !important;
  padding: 0.5em;
}
.section ul {
  list-style-type: disc;
}
.section li {
  margin-left: 2em;
  margin-bottom: 0.25em;
}
.section ol li {
  padding-left: 0.5em;
}
.section img {
  padding: 1em;
}
.section table {
  margin-bottom: 0.5em;
}
.section table td,
.section table th {
  border: 1px solid #f5f5f5;
  padding: 0.25em;
}
.title.is-brand {
  font-weight: bold;
}
footer.footer {
  position: relative;
}
footer.footer .github-fork-ribbon > a:not(.icon) {
  border: 1px dotted #f5f5f5;
  color: #f5f5f5;
  display: inline-block;
  text-decoration: none;
  width: 250px;
}
footer.footer .github-fork-ribbon > a:not(.icon):hover {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #00d1b2;
}
.github-fork-ribbon-wrapper {
  bottom: 0;
  height: 150px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 150px;
}
.github-fork-ribbon-wrapper .github-fork-ribbon {
  background-color: #00d1b2;
  padding: 1px 0;
  pointer-events: auto;
  position: absolute;
  right: -65px;
  text-align: center;
  top: 65px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.card.is-fullheight {
  height: 100%;
}
.card-content a h3 {
  color: #00d1b2;
}
.card-content a p {
  color: #4a4a4a;
}
.card-content a:hover h3,
.card-content a:hover p {
  color: #363636;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
